# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binarios para sistemas Unix
*.out

# Archivos de test de Go
*.test

# Cache de Go
*.cache
/go.sum

# Directorios de dependencias y builds
vendor/
/bin/
/build/
/dist/

# Configuración local del editor
.idea/
.vscode/
*.swp

# Archivos temporales del sistema
.DS_Store
Thumbs.db

